/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Afacad', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    outline: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
}

p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: 'Afacad', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn {
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1;
    overflow: hidden;
    z-index: 2;
}

.btn:focus-visible {
    color: #fff !important;
    background-color: #fff !important;
    border-color: 1px solid #fff !important;
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: #a1dceb;
    border-radius: 50px;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.btn:hover:after {
    transform: scaleX(1);
}

/* top-progress-bar */
.top-progress-bar {
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 1vh;
}

.filled {
    width: 0;
    height: 100%;
    background-image: linear-gradient(45deg, #00A54F 0%, #009EE1 100%);
    /* border-radius: 10px; */
}

/* side scroll bar start */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #00A54F #009EE1;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #009EE1;
}

*::-webkit-scrollbar-thumb {
    background-color: #00A54F;
    border-radius: 10px;
    border: 3px none #ffffff;
}

/* main menu */

.menu-outer:hover~.menu-close {
    margin-right: -100px;
}

.menu-outer:hover .bar {
    background: #009EE1;
}

.menu-outer>.nav_bar ul {
    top: 15%;
}


.menu-outer {
    overflow: hidden;
    position: fixed;
    top: 0;
    font-family: 'Afacad', sans-serif;
    z-index: 998;
    width: 100%;
    left: 100%;
    margin-left: -100px;
    height: 200%;
    background: #009EE1;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-outer:hover {
    /* background: rgba(100, 200, 240, .98); */
    background: #00A54F;
    left: 0;
    margin-left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-icon {
    z-index: 999;
    position: absolute;
    top: 58px;
    left: 15px;
    width: 30px;
    pointer-events: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.menu-icon .bar {
    background: rgba(250, 250, 250, 1);
    width: 100%;
    height: 5px;
    margin: 0 0 5px;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.menu-outer:hover>.menu-icon {
    opacity: 0;
}

.nav_bar ul {
    position: absolute;
    width: 100%;
    padding: 0;
    left: 10%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.menu-outer:hover>.nav_bar ul {
    left: 0;
}

.nav_bar li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;

}

.nav_bar li a {
    font-size: 2em;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    margin: 0 auto;
    padding: 20px;
    display: block;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    text-align: center
}

.nav_bar li a:hover {
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 600px),
screen and (max-height: 600px) {
    .nav_bar ul {
        font-size: .75em;
    }

    .nav_bar ul a {
        padding: 10px;
    }
}

.menu-close {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 100%;
    width: 200px;
    height: 200px;
    background: #009EE1;
    cursor: pointer;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-close .menu-icon {
    right: 15px;
    left: auto;
    top: 68px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-close .bar {
    background: rgba(250, 250, 250, 1);
    width: 100%;
    height: 5px;
    position: absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
}

.menu-close .bar:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-close .bar:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.tabs .widget li,
.tabs .widget li {
    float: none
}

.logo a img {
    max-width: 100px;
    width: 100%;
}

.logo {
    position: relative;
    z-index: 9;
}

/* slider start */

.slider-content h1,
.slider-content p {
    color: #fff;
}

.slider-content h1 {
    font-size: 60px;
    margin-bottom: 0;
    line-height: 1;
}

.slider-content p {
    font-size: 30px;
}

.single-slider {
    padding: 200px 0;
}

.single-slider {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.single-slider::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}

/* slider end */

/* counter start */
.gradient-border {
    --borderWidth: 3px;
    /* background: #1d1f20; */
    position: relative;
    border-radius: var(--borderWidth);
    transition: all .5s ease-in-out;
    padding: 20px;
}

.gradient-border:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.single__counter i {
    color: #fff;
    font-size: 50px;
}

.single__counter:hover {
    transform: translateY(-5px);
}

.single__counter h2 {
    font-size: 40px;
    margin-bottom: 0;
    color: #fff;
}

.single__counter h6 {
    font-size: 20px;
    color: #fff;
}

/* counter end */

/* activity start */
.activity__title h2 {
    font-size: 80px;
}

.activity_amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity_person_name,
.activity_process,
.activity_payment {
    width: 33.33%;
}

.activity_process {
    text-align: center;
}

.activity_payment {
    text-align: end;
}

.single__activity {
    background: #009FC95E;
    border-radius: 5px;
    padding: 10px;
    transition: all .5s ease-in-out;
    margin-bottom: 5px;
}

.single__activity:hover {
    transform: translateY(-2px);
}

.activity__time {
    text-align: end;
    font-weight: 600;
    font-size: 15px;
}

.activity_name {
    font-weight: 600;
    font-size: 20px;
    color: #009EE2;
}

.activity_person_name {
    text-transform: capitalize;
}

/* activity end */

/* service start */

.single__service {
    color: #009EE2;
    transition: all .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 30px;
}

.single__service:hover {
    transform: translateY(-5px);
    background-color: #A1DCEB;
    color: #fff;
}

.service__title {
    gap: 10px;
    align-items: center;
}

.service__title h4 {
    text-transform: uppercase;
    color: #000;
    transition: all .5s ease-in-out;
    margin: 0;
    font-weight: 500;
}

.service__title img {
    background: #009ee2;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    padding: 15px;
    width: 80px;
}

.single__service p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-align: justify;
    color: #000;
    transition: all .5s ease-in-out;
    margin-top: 10px;
}

/* service end */

/* reffral start */
.referral__area {
    background-image: url(../images/pattern-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    padding-bottom: 150px;
}

.refferal__content h2 {
    font-size: 50px;
}

.refferal__content p {
    font-size: 25px;
    line-height: 1.2;
}


/* reffral end */

/* hiring start */

.hiring__card h1 {
    font-size: 60px;
}

.hiring__card h6 {
    font-size: 30px;
    margin: 0;
}

.hiring__card {
    background-image: url(../images/pattern-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    padding: 50px;
}

.card.hiring__card a {
    padding: 5px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    background: #fff;
    width: max-content;
}

.hiring__area {
    margin-top: -100px;
    margin-bottom: -100px;
    position: relative;
    z-index: 9;
}

/* hiring end */

/* footer start */
.footer__area {
    padding-top: 150px;
}

.footer_logo a img {
    width: 150px;
}

.footer__menu li a {
    color: #fff;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
    font-weight: 500;
}

.footer__menu li a:hover {
    color: #009EE1;
    margin-left: 5px;
}


.footer__menu li a:hover:after {
    opacity: 1;
    visibility: visible;
}

.footer_widget h3 {
    position: relative;
    color: #fff;
    padding-bottom: 10px;
}

.footer_widget h3::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 2px;
    width: 50px;
    background: #009ee1;
    left: 0;
}

.footer__menu {
    margin-top: 20px;
}

.footer_logo p {
    color: #fff;
    margin-top: 10px;
    line-height: 1.3;
}

.footer__social {
    margin-top: 20px;
}

.footer__social li a {
    display: inline-block;
    background: #009ee2;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.footer__social li a i {
    color: #fff;
    transition: all .5s ease-in-out;
}

.footer__social li a:hover {
    background: #00A651;
}

.footer__social li a:hover i {
    transform: scale(1.1);
}

/* footer end */

/* body animation */
.body_animation {
    animation: rotate-all 2s 0 infinite linear alternate;
    position: absolute;
    right: 10%;
    top: 0;
}

.div1 {
    width: 80px;
    height: 80px;
    background-color: #669999;
    position: relative;
    margin: auto;
    animation: square-to-circle 2.5s .5s infinite cubic-bezier(1, .015, .295, 1.225) alternate-reverse;

}

.div2 {
    width: 80px;
    height: 80px;
    background-color: #669999;
    position: relative;
    margin: auto;
    animation: square-to-circle2 2.5s .42s infinite cubic-bezier(1, .015, .295, 1.225) alternate-reverse;
}

#one {
    top: 150px;
}

#two {
    top: 150px;
    right: 80px;
}

#three {
    top: 150px;
}

#four {
    bottom: 10px;
    left: 80px;
}

@keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
        background: ;
        transform: rotate(45deg);
    }

    25% {
        border-radius: 50% 0 0 0;
        background: darksalmon;
        transform: rotate(135deg);
    }

    50% {
        border-radius: 50% 50% 0 0;
        background: indianred;
        transform: rotate(180deg);
    }

    75% {
        border-radius: 50% 50% 50% 0;
        background: lightcoral;
        transform: rotate(315deg);
    }

    100% {
        border-radius: 50%;
        background: darksalmon;
        transform: rotate(404deg);
    }
}

@keyframes square-to-circle2 {
    0% {
        border-radius: 0 0 0 0;
        background: ;
        transform: rotate(45deg);
    }

    25% {
        border-radius: 0 0 50% 0;
        background: darksalmon;
        transform: rotate(135deg);
    }

    50% {
        border-radius: 0 0 50% 50%;
        background: indianred;
        transform: rotate(180deg);
    }

    75% {
        border-radius: 50% 0 50% 50%;
        background: lightcoral;
        transform: rotate(315deg);
    }

    100% {
        border-radius: 50%;
        background: darksalmon;
        transform: rotate(404deg);
    }
}

#scrollUp {
    bottom: 5px;
    right: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
}